body {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.mainContainer {
    background-color: #4f4f4f;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display {
    background-color: #53ad6f;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
    border-radius: 10px;
    height: 2rem;
}

.controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


button:hover {
    background-color: #444;
}


button:active {
    background-color: #222;
}


.operator {
    background-color: #555;
}


.clear {
    background-color: #ffa600;
}

button.clear:hover {
    background-color: #ffbc3e;
}


button.clear:active {
    background-color: #ff8c00;
}

.equal {
    background-color: #45a6fa;
    grid-column: 4;
    grid-row: 4 / 6;
}

button.equal:hover {
    background-color: #6cbbff;
}

button.equal:active {
    background-color: #0088ff;
}